<h3 class="text-center">MIRO dan SAP</h3>
<div class="form-group">
    <label class="col-lg-3 col-md-3">Tahun</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.tahun" class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">No. Parking</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.parking" class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">No. Miro</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.miro" class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">FB60</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.fb60"  class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">FB65</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.fb65"  class="form-control" readonly>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3">Tanggal</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.tgl" class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">Catatan</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.catatan" class="form-control" readonly>
    </div>
</div>
