<div alt-component="navbar" data-scope="navbar"></div>
<div alt-component="tabs" data-scope="tabs"></div>
<link rel="stylesheet" href="ui/assets/css/print-label.css">

<div class="separator-40"></div>
<div class="form-group">
    <label class="col-lg-1 col-md-1">Cari</label>
    <div class="col-lg-4 col-md-4">
        <input type="text" ng-model="filter_name" class="form-control">
    </div>
</div>

<div class="separator-40"></div>

<!--  table daftar proses -->
<table class="table table-responsive">
    <thead>
        <tr>
            <th>No.</th>
            <th>PO</th>
            <th>Vendor</th>
            <th>Invoice</th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in pmh_list | filter:filter_name track by $index">
            <th>{{$index+1}}</th>
            <td>{{x.po_po}}</td>
            <td>{{x.faktur_nama}}</td>
            <td>{{x.invoice_no}}</td>
            <td class="text-right">
                <button type="button" class="btn btn-primary"  ng-click="print(x.id)">Print</button>
            </td>
        </tr>
    </tbody>
</table>

<div id="label-wrapper">

    <div id="barcode">
        <angular-barcode ng-model="pmh.barcode" bc-options="bc" bc-class="barcode" bc-type="svg"></angular-barcode>
    </div>
    <div id="no-invoice">{{pmh.invoice.no}}</div>
    <table class="table-top" border="1">
        <tr>
            <td colspan="3">Olive :: Hardcopy</td>
        </tr>
        <tr>
            <td>Mitra</td>
            <td colspan="2" class="td-max">{{pmh.faktur.nama}}</td>
        </tr>

        <tr>
            <td>AP</td>
            <td colspan="2" class="td-max">{{pmh.auth.nama}}</td>
        </tr>

        <tr>
            <td>Denda</td>
            <td>{{pmh.denda}}</td>
            <td>{{pmh.denda_nominal}}</td>
        </tr>
        <tr ng-repeat="i in pmh.pph">
            <td>{{i.catatan}}</td>
            <td>{{i.persen}}</td>
            <td>{{i.nominal_currency}}</td>
        </tr>
        <tr>
            <td>Tgl Posting</td>
            <td colspan="2">{{pmh.sap.tanggal}}</td>
        </tr>

        <tr>
            <td>No Posting</td>
            <td colspan="2">{{pmh.sap.miro}}</td>
        </tr>

        <tr>
            <td>FB65</td>
            <td colspan="2">{{pmh.sap.fb65}}</td>
        </tr>
    </table>



    <div class="separator"></div>
    <table class="table-bottom" border="1">
        <tr>
            <td class="height">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>

</div>
