<div alt-component="navbar" data-scope="navbar"> </div>
<div alt-component="viewer/pogr" data-scope="pogr" ng-show="step==1"></div>
<div alt-component="viewer/faktur" data-scope="faktur" ng-show="step==2"></div>
<div alt-component="viewer/invoice" data-scope="invoice" ng-show="step==3"></div>
<div alt-component="viewer/dpl" data-scope="dpl" ng-show="step==4"></div>
<div class="bar-bottom">
  <div class="col-md-12 text-right">
      <button type="button" class="btn btn-danger" ng-click="prevStep()" ng-show="step>1"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Kembali</button>
      <button type="button" class="btn btn-success" ng-click="nextStep()" ng-show="step<4"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Lanjut</button>
      <span style="padding-right:20px;">&nbsp;</span>
      <button type="button" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Tutup</button>
  </div>
</div>
