<div style="display:block;width:100%;height:20px;"></div>
<label class="col-md-1">Filter</label>
<div class="col-md-4">
  <input type="text" ng-model="filter_text" class="form-control">
</div>

<div class="clearfix"> </div>
<div style="display:block;width:100%;height:20px;"></div>
<div class="table-responsive" ng-show="step==0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Item</th>
        <th>Tanggal</th>
        <th>Nilai</th>
        <th>Deskripsi</th>
        <th>Tg. Tarik</th>
        <th class="text-right">
            <button type="button" class="btn btn-primary" ng-click="goStep(1)">Lihat</button>
            <button type="button" class="btn btn-info" ng-click="goStep(2)">Tarik</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in libur | filter:filter_text track by $index"  ng-click="select($index)" style="cursor:pointer">
        <td>{{u.gr}}</td>
        <td>{{u.item}}</td>
        <td>{{u.tgl}}</td>
        <td>{{u.nilai}}</td>
        <td>{{u.pekerjaan}}</td>
        <td>{{u.log_tgl}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6" ng-show="step>0">
    <form ng-submit="open()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="tanggal" placeholder="format : yyyy-mm-dd">
        </div>


        <div class="form-group text-right">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">
                <span ng-show="step==1">Tarik dari SAP</span>
                <span ng-show="step==2">Lihat</span>
            </button>
        </div>
    </form>
</div>
