<h3 class="text-center">Pajak dan Denda</h3>
<div class="form-group">
    <label class="col-lg-3 col-md-3">TAX</label>
    <div class="col-lg-9 col-md-9">
        <select class="form-control" ng-model="taxcode" ng-options="tax.kode as tax.desk for tax in taxcodes"> </select>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">Denda(%)</label>
    <div class="col-lg-4 col-md-4">
        <input type="text" ng-model="denda" class="form-control" ng-change="calcDenda(true)">
    </div>
    <div class="col-lg-1 col-md-1">
        Rp.
    </div>
    <div class="col-lg-4 col-md-4">
        <input type="text" class="form-control" ng-model="denda_nominal" ng-change="calcDenda(false)">
    </div>
</div>
