<h3 class="text-center">Kategori, PO dan GR</h3>

<!-- select kategori -->
<div class="col-lg-5 col-md-5">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Kategori</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="kat.nama" disabled>
        </div>
    </div>
</div>
<!-- end select kategori -->

<div class="separator-20"></div>

<!-- select PO  -->
<div class="col-lg-5 col-md-5">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Po</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="po.po" disabled>
        </div>
    </div>
</div>
<!-- end select PO -->

<div class="separator-20"></div>

<!-- info PO -->
<div class="col-lg-5 col-md-5" ng-show="po.po">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Tgl.</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="po.tgl" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Po Item</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="po.item" disabled>
        </div>
    </div>
    <div class="separator-20"></div>
</div>

<div class="col-lg-6 col-md-6" ng-show="po.po">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Uraian</label>
        <div class="col-lg-9 col-md-9">
            <textarea rows="2" class="form-control" ng-model="po.ket" disabled></textarea>
        </div>
    </div>
</div>
<!-- end info PO -->





<div class="separator-20"></div>

<!-- checkbox select GR  -->
<div>
    <h3 class="text-center text-muted">GR</h3>
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Tgl</td>
                        <td>Ket.</td>
                        <td>Nilai</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in gr" >
                        <td>
                            <label style="padding-right:15px">
                                <input type="checkbox" name="selectGr[]" value="{{x.gr}}" onclick="return false" checked> {{x.gr}}
                            </label>
                        </td>
                        <td>{{x.tgl}}</td>
                        <td>{{x.keterangan}}</td>
                        <td>{{x.nilai}}</td>
                        <tr>
                        </tr>
                        <td colspan="3" class="text-right">Total GR ( DPP )</td>
                        <td>{{gr_total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end checkbox select GR  -->
