<div alt-component="navbar" data-scope="navbar"></div>
<div alt-component="tabs" data-scope="tabs"></div>


<div class="separator-40"></div>


<div class="col-lg-12 col-md-12">

    <div class="form-group" ng-show="step_id==4&&prc==0">
        <form class="" ng-submit="barPress()">
            <label class="col-lg-1 col-md-1">Barcode</label>
            <div class="col-lg-4 col-md-4">
                <input type="text" class="form-control" ng-model="barcode" placeholder="scan barcode atau ketik nomor barcode dan tekan enter">
            </div>
            <button type="submit" style="visibility:hidden;width:2px;height:2px">aaa</button>
        </form>
        <hr>
    </div>

    <div class="form-group">
        <label class="col-lg-1 col-md-1">Cari</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" ng-model="filter_name" class="form-control">
        </div>
    </div>

    <div class="separator-40"></div>
    <!--  table daftar proses -->
    <table class="table table-responsive" id="vkslist">
        <thead>
            <tr>
                <th>No.</th>
                <th>PO</th>
                <th>Tgl</th>
                <th>Vendor</th>
                <th>Invoice</th>
                <th >Status</th>
                <th >Jadwal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in pmh | filter:filter_name track by $index">
                <th>{{$index+1}}</th>
                <td>{{x.po_po}}</td>
                <td>{{x.awal}}</td>
                <td>{{x.faktur_nama}}</td>
                <td>{{x.invoice_no}}</td>
                <td>{{x.status_desk}}</td>
                <td>{{x.jadwal}}</td>
                <td class="text-right">
                    <button type="button" class="btn btn-primary" ng-click="proses($index)" ng-show="prc==0||prc==3">Proses</button>
                </td>
            </tr>
        </tbody>
    </table>




    <div class="bar-bottom top-minus-30 text-right" ng-show="false">
        <button type="button" class="btn btn-success" ng-click="exportToExcel()">Simpan Ke Excel</button>
    </div>
</div>

<!--cetak tanda terima-->
