<!DOCTYPE html>
<html lang="end" id="ng-app" ng-app="Alt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
    <link type="text/css" rel="stylesheet" href="ui/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/lib/ui-select/dist/select.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/css/angular-tooltips.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/lib/angular-datepicker/dist/angular-datepicker.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/css/olive-fonts.min.css">
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/css/olive.min.css">


    <!--[if lt IE 9]>
    <link type="text/css" rel="stylesheet" media="all" href="ui/assets/css/style-ie8.css">
    <script type="text/javascript" src="ui/assets/lib/html5shiv/dist/html5shiv.js"></script>
    <script type="text/javascript" src="ui/assets/lib/respond/dest/respond.min.js"></script>
    <![endif]-->

  </head>
  <style>
    .main-tpl{
      padding-top:80px;
    }
    .login-tpl{
      padding-top:0;
    }
  </style>
  <body ng-class="template=='full'?'login-tpl':'main-tpl'">
    <!--
    hack to pdf-object width
    pusing handle error pdfjs
    hehehe !!!
    -> component/olive/helper.js ->getHeight();
  -->
  <div class="container"><div id="pdf-object-wrapper" class="pdf-object-wrapper"></div></div>

  <!-- end hack pdf-object width -->

  <!-- loading -->
    <div alt-component="loading" data-scope="$loading"></div>
  <!-- end loading -->

 <!-- form login -->
 <div ng-if="template=='full'">
   <img src="ui/assets/img/login-bg.png" alt="login-background" style="width:100%;height:100vh;position:fixed;z-index:-1;top:0;left:0;bottom:0;right:0;">
   <div ng-view></div>
 </div>
 <!-- form login -->

 <!-- main-form -->
 <div ng-if="template!='full'">
   <img src="ui/assets/img/back-icon.png" alt="olive-background" style="width:100%;height:100vh;position:fixed;z-index:-1;top:0;left:0;">
   <div alt-component="menu" data-scope="alt"> </div>
   <div class="container container-form">
     <!-- partial ada disini -->
     <div ng-view> </div>
     <!-- end partial -->

   </div>
 </div>
 <!-- main-form -->
    <script src="ui/assets/lib/angular-1.4.9/angular.min.js"></script>
    <!--[if (gte IE 9)|(!IE)]> -->
    <script src="ui/assets/lib/angular-1.4.9/angular-route.min.js"></script>
    <script src="ui/assets/lib/angular-1.4.9/angular-sanitize.min.js"></script>
    <script src="ui/assets/lib/angular-1.4.9/angular-animate.min.js"></script>
    <script src="ui/assets/lib/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="ui/assets/lib/store2/dist/store2.min.js"></script>
    <script src="ui/assets/lib/ui-select/dist/select.min.js"></script>
    <script src="ui/assets/lib/angular-datepicker/dist/angular-datepicker.min.js"></script>
    <!-- tambahan 26 mei 2018 -->


    <script src="ui/assets/js/pdf.js"></script>
    <script src="ui/assets/js/date-id-ID.min.js"></script>
    <script src="ui/assets/js/angular-barcode.js"></script>
    <script src="ui/assets/js/angular-tooltips.min.js"></script>

        <!-- end tambahan -->

    <!--[endif]-->
    <!--[if lt IE 9]>
	  <script src="ui/assets/lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/ie8.js"></script>
    <![endif]-->

    <script type="text/javascript" src="ui/assets/lib/cryptojslib/rollups/aes.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/i18n.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/alert.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/api.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/route.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/validation.js"></script>
    <script type="text/javascript" src="ui/assets/lib/alt-angularjs/dist/alt/export.js"></script>
    <script type="text/javascript" src="ui/component/loading/service.min.js"></script>
    <script type="text/javascript" src="ui/assets/core/auth.js"></script>
    <script type="text/javascript" src="ui/assets/core/config.js"></script>
    <script type="text/javascript" src="ui/assets/lib/requirejs/require.min.js"></script>
  </body>
</html>
