<div class="olive-static-top text-center">
  <img src="ui/assets/img/logo.png" class="img-logo"> <!-- <h2 style="color:white;font-size:18px;">ONLINE VERIFICATION SERVICE</h2> -->
  <div class="user-menu-dropdown">
    <span class="glyphicon glyphicon-align-justify user-menu"></span>
    <div class="user-menu-dropdown-child">
      <a ng-click="userProfil()">Profil</a>
      <a ng-click="userLogout()">Logout</a>
    </div>
  </div>
</div>
