<div alt-component="navbar" data-scope="navbar"> </div>


<ul class="nav nav-tabs">
  <li role="presentation" ng-class="tab==0?'active':''">
    <a ng-click="toTab(0)" class="cursor-pointer">Quota</a>
  </li>
  <li role="presentation" ng-class="tab==1?'active':''">
    <a ng-click="toTab(1)" class="cursor-pointer">Hari Libur</a>
  </li>
  <li role="presentation" ng-class="tab==2?'active':''">
    <a ng-click="toTab(2)" class="cursor-pointer">Rekening</a>
  </li>
  <li role="presentation" ng-class="tab==3?'active':''" >
    <a ng-click="toTab(3)" class="cursor-pointer">PO</a>
  </li>
  <li role="presentation" ng-class="tab==4?'active':''" >
    <a ng-click="toTab(4)" class="cursor-pointer">GR</a>
  </li>
  <li role="presentation" ng-class="tab==5?'active':''" >
    <a ng-click="toTab(5)" class="cursor-pointer">User</a>
  </li>
  <li role="presentation" ng-class="tab==6?'active':''" >
    <a ng-click="toTab(6)" class="cursor-pointer">Check</a>
  </li>
</ul>

<div class="separator-20"></div>
<div class="col-md-12" alt-component="admin/quota" data-scope="form_quota" ng-if="tab==0"></div>
<div class="col-md-12" alt-component="admin/libur" data-scope="form_libur" ng-if="tab==1"></div>
<div class="col-md-12" alt-component="admin/rek" data-scope="form_rek" ng-if="tab==2"></div>
<div class="col-md-12" alt-component="admin/po" data-scope="form_po" ng-if="tab==3"></div>
<div class="col-md-12" alt-component="admin/gr" data-scope="form_gr" ng-if="tab==4"></div>
<div class="col-md-12" alt-component="admin/user" data-scope="form_user" ng-if="tab==5"></div>
<div class="col-md-12" alt-component="admin/check" data-scope="form_check" ng-if="tab==6"></div>
