
<div class="separator-40"> </div>
<div class="clearfix"> </div>
<div class="table-responsive" ng-show="step==0">
  <table class="table table-hover">
    <thead>
        <tr>
            <td>Filter</td>
            <td colspan="2">
                <div class="form-group">
                    <input type="text" ng-model="filter_text" class="form-control">
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>No</th>
            <th>Miro</th>
            <th>Refkey</th>
            <th>Tanggal</th>
            <th>Log Tanggal</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in clearing_list | filter:filter_text track by $index"   style="cursor:pointer">
          <td>{{u.no}}</td>
          <td>{{u.miro}}</td>
          <td>{{u.refkey}}</td>
          <td>{{u.tgl}}</td>
          <td>{{u.log_tgl}}</td>
      </tr>
  </tbody>
</table>
</div>
<div class="col-md-6" ng-show="step>0">
    <form ng-submit="open()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="clearing_tgl" placeholder="format : yyyy-mm-dd">
        </div>

        <div class="form-group text-right">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">
                <span ng-show="step==1">Lihat</span>
                <span ng-show="step==2">Tarik dari SAP</span>
            </button>
        </div>
    </form>
</div>
