<h3 class="text-center">PPH</h3>
<div class="separator-20"></div>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Tipe</th>
            <th>Kode</th>
            <th>Ket.</th>
            <th>% PPh</th>
            <th>Nominal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in pph track by $index">
            <td>{{p.tipe}}</td>
            <td>{{p.kode}}</td>
            <td>{{p.ket}}</td>
            <td> {{p.persen}}</td>
            <td><input class="form-control" ng-model="p.nominal_currency" ng-change="calcTotal($index)"></td>
            <td>{{p.total_currency}}</td>
        </tr>

    </tbody>
</table>
