<div alt-component="navbar" data-scope="navbar"> </div>
<div class="separator-40"></div>

  <div class="col-lg-5 col-md-5">
    <div class="form-group">
      <label class="col-lg-2 col-md-2">Tahun</label>


      <div class="input-group">
        <input type="text" ng-model="tahun" class="form-control" placeholder="masukkan tahun">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="openPertahun()">Cari</button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <canvas id="myChart"></canvas>
    </div>
  </div>

<div class="col-lg-1 col-md-1"></div>
<div class="col-lg-6 col-md-6">
  <div class="form-group">
    <label class="col-lg-2 col-md-2">Bulan</label>

    <div class="input-group">
      <select class="form-control"
        ng-options="x.value as x.nama for x in bulans"
        ng-model="bulan">
      </select>
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" ng-click="openPerbulan()">Cari</button>
      </span>
    </div>
    <div class="form-group">
      <canvas id="myPieChart"></canvas>
    </div>
  </div>
</div>
<div class="bar-bottom text-center">
  <button type="button" ng-click="gotoList()" class="btn btn-primary">Permohonan</button>
</div>
