<div alt-component="navbar" data-scope="navbar"> </div>
<div class="col-md-12 text-center text-muted">
    <small>{{subtitle}}</small>
</div>

<!-- viewer -->
<div class="col-lg-12 col-md-12" alt-component="viewer/pogr" data-scope="view_pogr" ng-show="step==1"></div>
<div class="col-lg-12 col-md-12" alt-component="viewer/faktur" data-scope="view_faktur" ng-show="step==2"></div>
<div class="col-lg-12 col-md-12" alt-component="viewer/invoice" data-scope="view_invoice" ng-show="step==3"></div>
<div class="col-lg-12 col-md-12" alt-component="viewer/pph-denda" data-scope="view_pphdenda" ng-show="step==4"></div>
<div class="col-lg-6 col-md-6" alt-component="viewer/sap" data-scope="view_sap" ng-show="step==5"></div>
<div class="clearfix"> </div>
<div alt-component="viewer/pdf" data-scope="view_pdf"></div>


<div ng-show="step==0">
    <!-- button editor -->
    <div class="col-md-12 text-right">
        <span class="glyphicon glyphicon-gift rounded-thumbnail rounded-blue" tooltip-template="Edit PPH" ng-click="gotoEdit(1)" ng-show="group_id>3" tooltips></span>
        <span class="glyphicon glyphicon-warning-sign rounded-thumbnail rounded-green" tooltip-template="Edit Denda" ng-click="gotoEdit(2)" ng-show="group_id>3" tooltips></span>
        <span class="glyphicon glyphicon-leaf rounded-thumbnail rounded-yellow" tooltip-template="Edit SAP" ng-click="gotoEdit(3)" ng-show="group_id>4" tooltips></span>
        <span class="glyphicon glyphicon-remove rounded-thumbnail rounded-grey" tooltip-template="Close Editor" ng-click="gotoEdit(4)" ng-show="group_id>3" tooltips></span>
    </div>


    <!-- editor -->
    <div class="col-lg-12 col-md-12" alt-component="editor/pph" data-scope="form_pph" ng-show="editmode.pph"></div>

    <div class="col-lg-6 col-md-6" alt-component="editor/denda" data-scope="form_denda" ng-show="editmode.denda"></div>
    <div class="col-lg-6 col-md-6" alt-component="editor/sap" data-scope="form_sap" ng-show="editmode.sap"></div>
    <div class="col-lg-6 col-md-6" ng-show="editmode.none">
        &nbsp;
        <!--ini hanya halaman kosong-->
        <div class="separator-10"></div>
    </div>

    <!--verifikasi status-->
    <div class="col-lg-6 col-md-6" ng-show="editmode.none">
        <h3 class="text-center">Hasil Verifikasi</h3>
        <div class="form-group">
            <label class="col-lg-3 col-md-3">Status</label>
            <div class="col-lg-9 col-md-9">
                <select class="form-control" ng-model="status_id" ng-options="x.id as x.desk for x in status"></select>
            </div>
        </div>

        <!-- check box untuk revisi -->
        <div class="separator-20"></div>

        <div class="form-group" ng-show="status_id==3 && group_id==3">
            <label class="col-lg-3 col-md-3">Penjadwalan</label>
            <div class="col-lg-9 col-md-9">
                <input type="text" ng-model="jadwal" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group" ng-show="status_id==4">
            <p class="col-lg-12 col-md-12"> Pilih Dokumen yang harus direvisi oleh Mitra <span class="text-muted">*pilihan bisa lebih satu</span></p>

            <label class="col-lg-6 col-md-6">
                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="revcode.fkt">&nbsp;&nbsp;&nbsp;Faktur Pajak
            </label>

            <label class="col-lg-6 col-md-6">
                <input type="checkbox" ng-true-value="2" ng-false-value="0" ng-model="revcode.inv">&nbsp;&nbsp;&nbsp;Invoice
            </label>

            <label class="col-lg-6 col-md-6">
                <input type="checkbox" ng-true-value="4" ng-false-value="0" ng-model="revcode.ba">&nbsp;&nbsp;&nbsp;BA
            </label>

            <label class="col-lg-6 col-md-6">
                <input type="checkbox" ng-true-value="8" ng-false-value="0" ng-model="revcode.pogr">&nbsp;&nbsp;&nbsp;PO-GR
            </label>
            <label class="col-lg-6 col-md-6">
                <input type="checkbox" ng-true-value="16" ng-false-value="0" ng-model="revcode.dpl">&nbsp;&nbsp;&nbsp;DPL
            </label>
        </div>

        <div class="separator-20"></div>

        <div class="form-group" ng-show="status_id>3">
            <label class="col-lg-3 col-md-3">Catatan</label>
            <div class="col-lg-9 col-md-9">
                <textarea  rows="5" class="form-control" ng-model="catatan"></textarea>
            </div>
        </div>
    </div>
    <!--akhir verifikasi status-->
</div>



<div class="separator-40"></div>

<div class="bar-bottom top-minus-30">
    <div class="col-md-10 top-minus-30" ng-show="editmode.none">
      <span class="glyphicon glyphicon-list rounded-thumbnail rounded-blue" tooltip-template="lihat data po"
      ng-click="gotoStep(1)" tooltips></span>
      <span class="glyphicon glyphicon-list rounded-thumbnail rounded-green" tooltip-template="lihat data faktur"
      ng-click="gotoStep(2)" tooltips></span>
      <span class="glyphicon glyphicon-list rounded-thumbnail rounded-yellow" tooltip-template="lihat data invoice" ng-click="gotoStep(3)" tooltips></span>
      <span class="glyphicon glyphicon-list rounded-thumbnail rounded-orange" tooltip-template="lihat data PPH dan Denda" ng-click="gotoStep(4)" tooltips></span>
      <span class="glyphicon glyphicon-list rounded-thumbnail rounded-cyan" tooltip-template="lihat data SAP" ng-click="gotoStep(5)" tooltips></span>&nbsp;&nbsp;

      <span class="glyphicon glyphicon-remove rounded-thumbnail rounded-grey" tooltip-template="kembali ke verifikasi" ng-click="gotoStep(0)" tooltips></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <span class="glyphicon glyphicon-duplicate rounded-thumbnail rounded-green" tooltip-template="lihat file pdf faktur " ng-click="viewPDF(1)" tooltips></span>
      <span class="glyphicon glyphicon-duplicate rounded-thumbnail rounded-cyan" tooltip-template="lihat file pdf invoice " ng-click="viewPDF(2)" tooltips></span>
      <span class="glyphicon glyphicon-duplicate rounded-thumbnail rounded-blue" tooltip-template="lihat file pdf BA " ng-click="viewPDF(3)" tooltips></span>
      <span class="glyphicon glyphicon-duplicate rounded-thumbnail rounded-purple" tooltip-template="lihat file pdf PO-GR " ng-click="viewPDF(4)" tooltips></span>
      <span class="glyphicon glyphicon-duplicate rounded-thumbnail rounded-pink" tooltip-template="lihat file pdf DPL " ng-click="viewPDF(5)"></span>
    </div>


  <div class="col-md-2 text-right" ng-show="editmode.none">
    <button type="button" class="btn btn-danger" ng-click="cancel()">Batal</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" ng-click="submit()" ng-disabled="vks.status==0">Submit</button>
  </div>

  <div class="col-md-12 text-right" ng-show="(editmode.pph&&group_id>3)||(editmode.denda&&group_id>3)||(editmode.sap&&group_id>4)">
      <div class="form-group text-right">
          <button type="button" class="btn btn-default" ng-click="cancelData()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="saveData()">Save</button>
      </div>
  </div>

</div>
