<div alt-component="navbar" data-scope="navbar"> </div>
<div alt-component="editor/faktur" data-scope="form_faktur" ng-show="step==1"></div>
<div alt-component="editor/invoice" data-scope="form_invoice" ng-show="step==2"></div>
<div  alt-component="editor/dpl" data-scope="form_dpl" ng-show="step==3"></div>


<div class="separator-80" ng-show="step==0"></div>
<div ng-show='step<1'>
  <h3 class="text-center">Data Revisi</h3>
  <div class="col-lg-6 col-md-6">

    <div class="form-group">
      <div ng-show="revisi.fkt">
        <div class="col-lg-8 col-md-8">
          <input type="checkbox" style="pointer-events:none" ng-checked="passed.fkt">&nbsp;&nbsp;Faktur Pajak
        </div>
        <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="gotoStep(1)">Edit</button>
        </div>
        <div class="separator-20"></div>
      </div>

      <div ng-show="revisi.inv">
        <div class="col-lg-8 col-md-8">
          <input type="checkbox" style="pointer-events:none" ng-checked="passed.inv">&nbsp;&nbsp;Invoice
        </div>
        <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="gotoStep(2)">Edit</button>
        </div>
        <div class="separator-20"></div>
      </div>


      <div ng-show="revisi.ba">
        <div class="col-lg-8 col-md-8">
          <input type="checkbox" style="pointer-events:none" ng-checked="passed.ba">&nbsp;&nbsp;Berita Acara
        </div>
        <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="gotoStep(3)">Edit</button>
        </div>
        <div class="separator-20"></div>
      </div>

      <div ng-show="revisi.pogr">
        <div class="col-lg-8 col-md-8">
          <input type="checkbox" style="pointer-events:none" ng-checked="passed.pogr">&nbsp;&nbsp;POGR
        </div>
        <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="gotoStep(3)">Edit</button>
        </div>
        <div class="separator-20"></div>
      </div>

      <div ng-show="revisi.dpl">
        <div class="col-lg-8 col-md-8">
          <input type="checkbox" style="pointer-events:none" ng-checked="passed.dpl">&nbsp;&nbsp;DPL
        </div>
        <div class="col-lg-4 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="gotoStep(3)">Edit</button>
        </div>
        <div class="separator-20"></div>
      </div>

    </div>

  </div>
  <div class="col-lg-6 col-md-6">
    <div class="form-group">
      <label>Catatan</label>
      <textarea class="form-control" rows="5" ng-model="pmh.catatan" readonly></textarea>
    </div>
  </div>
</div>

<div class="bar-bottom">
  <div class="col-md-12 text-right">
      <span ng-show="step>0" style="padding-right:50px">klik ok untuk kembali ke halaman depan</span>
      <button type="button" class="btn btn-primary" ng-click="ok()" ng-show="step>0">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>

      <button type="button" class="btn btn-default" ng-click="cancel()" ng-show="step==0">&nbsp;Cancel</button>
     <!-- button type="button" class="btn btn-default" ng-click="draft()" ng-show="step==0">&nbsp;Simpan Sementara</button -->
      <button type="button" class="btn btn-success" ng-click="submit()" ng-show="step==0">Submit</button>
  </div>
</div>
