<link rel="stylesheet" type="text/css" href="ui/assets/css/spinner.css">
<div data-ng-show="isshow" class="fade in" tabindex="-1" role="basic" aria-hidden="true"  style="background-color: rgba(0,0,0,0.5) ">
  <div class="modal-dialog" style="z-index:10070; position:fixed; width: 100%;margin:auto; margin-top: 0; top: 0; bottom: 0;">
    <div class="modal-content" style="background-color: transparent;border: none;box-shadow:none;">

      <div class="modal-body spinner-wrapper">
        <div class="spinner-loading">
          <div class="spinner-loading-counter">
            <div class="spinner-loading-inner">

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div data-ng-show="isshow" style="z-index:10060" class="modal-backdrop fade in"></div>
