<h3 class="text-center">File Invoice</h3>
<!-- cetak & upload button -->
<div class="col-lg-12 col-md-12">
    <div class="form-group">
        <a href="{{inv_f}}" target="_blank" ng-show="inv_f"><span class="glyphicon glyphicon-file"></span>{{inv_f}}</a>
    </div>

</div>
<!-- cetak & upload button -->

<div class="separator-20"></div>
<!-- form invoice -->
<div class="col-lg-5 col-md-5">
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.no" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Tgl.</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.tgl" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Tgl. JatuhTempo</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.jatuhtempo" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Jasa</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.jasa" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Material</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.material" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">DPP</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.dpp" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">PPN</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.ppn" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Total</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.total" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Terbilang</label>
    <div class="col-lg-9 col-md-9">
      <textarea ng-model="inv.terbilang" class="form-control" rows="5" disabled></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No Po</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.po" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No GR</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.gr" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Pekerjaan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.pekerjaan" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No Faktur</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.faktur" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group" ng-show="multi_rek">
    <label class="col-lg-3 col-md-3">Pilih Rekening</label>
    <div class="col-lg-9 col-md-9">
      <select class="form-control" ng-model="rek_select"
        ng-click="selectRek()"
        ng-options="idx as r.rek for (idx,r) in rek">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Bank</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.bank" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No. Rekening</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.rek" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Atas Nama</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.atasnama" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Penanda Tangan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.nama" class="form-control" disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Jabatan Penanda Tangan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.jabatan" class="form-control" disabled>
    </div>
  </div>
</div>
<div class="col-lg-7 col-md-7" id="invoice-object"></div>
