<div alt-component="navbar" data-scope="navbar"> </div>
<div alt-component="editor/pogr" data-scope="form_pogr" ng-show="step==1"></div>
<div alt-component="editor/faktur" data-scope="form_faktur" ng-show="step==2"></div>
<div alt-component="editor/invoice" data-scope="form_invoice" ng-show="step==3"></div>
<div alt-component="editor/dpl" data-scope="form_dpl" ng-show="step==4"></div>

<div class="bar-bottom">
  <div class="col-md-4">
      <span class="glyphicon left-10" ng-class="passed.pogr?'glyphicon-check text-green':'glyphicon-unchecked text-red'"></span>
      <span class="glyphicon left-10" ng-class="passed.fkt?'glyphicon-check text-green':'glyphicon-unchecked text-red'"></span>
      <span class="glyphicon left-10" ng-class="passed.inv?'glyphicon-check text-green':'glyphicon-unchecked text-red'"></span>
      <span class="glyphicon left-10" ng-class="passed.dpl?'glyphicon-check text-green':'glyphicon-unchecked text-red'"></span>
      <!-- <span ng-show="data.step==4">Anda dapat memeriksa sekali lagi tahapan ini dengan meng-klik &lsaquo;&nbsp;&nbsp;Kembali sebelum mengirimkan pengajuan pembayaran</span> -->
  </div>
  <div class="col-md-8 text-right">
    <button type="button" class="btn btn-default" ng-click="cancel()"
    ng-show="step==1"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Batal</button>
    <button type="button" class="btn btn-info" ng-click="draft()" ng-show="step>2"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Simpan Sementara</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger" ng-click="prevStep()" ng-show="step>1"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Kembali</button>
    <button type="button" class="btn btn-success" ng-click="nextStep()" ng-show="step<4"><span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;Lanjut</button>
    <button type="button" class="btn btn-success" ng-click="submit()" ng-show="step==4">
        <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Kirim
    </button>
    </div>
  </div>
