<div class="form-group">
    <h3 class="text-center">PPH</h3>
    <div class="separator-20"></div>
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Tipe</th>
                <th>Kode</th>
                <th>Ket.</th>
                <th>% PPh</th>
                <th>Nominal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in pph track by $index">
                <td>{{p.tipe}}</td>
                <td>{{p.kode}}</td>
                <td>{{p.ket}}</td>
                <td>{{p.persen}}</td>
                <td>{{p.nominal_currency}}</td>
                <td>{{p.total_currency}}</td>
            </tr>
            <tr>
                <td rowspan="5" class="text-right">Total PPH&nbsp;:&nbsp;</td>
                <td>{{total_pph}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="separator-40"></div>
<h3 class="text-center">Pajak dan Denda</h3>
<div class="col-md-6">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">TAX</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" ng-model="taxcode" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Denda(%)</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" ng-model="denda" class="form-control" readonly>
        </div>
        <div class="col-lg-5 col-md-5">
            <input type="text" class="form-control" ng-model="denda_nominal" readonly>
        </div>
    </div>
</div>
