*{
    font-family: 'Myriad Pro';
}
.top-menu .dropdown, .top-menu .dropdown a{
    padding-right: 5px !important;
}

.pagination{
    display : inline-flex;
}

.pagination li a{
    text-align: center;
}

@media (min-width: 992px){
    .page-header.navbar .menu-toggler.sidebar-toggler{
        display: none !important;
    }
}

@media (max-width: 991px){
    .page-header.navbar .menu-toggler.sidebar-toggler{
        display: block !important;
        color: #FFF;
        margin-top: 0;
    }
}

@media (max-width: 768px){
    .page-header.navbar .page-logo{
        padding-top: 10px;
        font-size: large;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
}


.page-header.navbar {
    background-color: #082527;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background:  #04191b;
    color: #d9d9d9;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a{
    background:  #0c373a !important
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
    /*border-top: 1px solid #2a5ea0;*/
    border-top: 1px solid #1e282c;
    color: #2a5ea0;
}
.page-sidebar .page-sidebar-menu > li{
    background:  #082527;
    color: #d9d9d9;
}
ul.sub-menu{
    background-color: #0c3e42;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
    /*background-color: #3d3d3d;*/
    /*background-color: #222d32;*/
    background-color: transparent;
}

/* Page breadcrumb */
.page-bar {
    padding: 0px;
    background-color: #f7f7f7 !important;
    margin-bottom: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.page-content {
    margin-top: 0px;
    padding: 0px;
    background-color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #24959e !important;
}


.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
    /*border-top: 1px solid #484848;*/
    color: #d9d9d9 !important;
}

.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a{
    background: #2AAAB6 !important
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background:  #222d32;
    border-top-color: transparent;
    color: white !important;
}

.page-header.navbar .page-logo {
    font-size: 20px !important;
    padding-top: 8px;
    font-weight: 400;
}

.btn-danger{
    background-color: #d84a38 !important;
    border: 1px solid #f3c6c0;
    color: #f3c6c0
}

.btn-danger:hover{
    border: 1px solid #fff;
    color: #fff
}

/* Portlet */
.portlet > .portlet-body.red,
.portlet.red, .portlet.box.red {
    background-color: #d84a38 !important;
}

.portlet.box.red > .portlet-title > .actions .btn-default:hover, .portlet.box.red > .portlet-title > .actions .btn-default:focus, .portlet.box.red > .portlet-title > .actions .btn-default:active, .portlet.box.red > .portlet-title > .actions .btn-default.active {
    border: 1px solid #f3c6c0;
    color: #f7dad6;
}

.portlet.box.red > .portlet-title {
    background-color: #d84a38 !important;
}

.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    padding: 10px 0;
}

.page-content-white .page-title {
    margin: 0 0 15px 0;
    font-size: 24px
}

.page-title {
    padding: 0px !important;
    font-size: 28px !important;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 0px 0px 15px 0px;
    font-weight: 300;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "Myriad Pro Light";
    /* subtitle */
}


.page-bar {
    padding: 0px;
    background-color: #f7f7f7;
    margin-bottom: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.page-content-wrapper{
    /*background: #3d3d3d;*/
    background: #072a2d;

}

.visible{
    display: block !important;
}

#top-menu-notif{
    min-width: 300px !important;
}

#top-menu-notif li{
    padding-left: 50px;
}
.row.login-page{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
a.dashboard-link{
    color: rgb(255,255,255) !important;
    text-decoration: none;
}
@media(max-width: 768px){
    .form-horizontal .control-label{
        text-align: left;
    }
}
body{
    background: #072a2d;
}