@page{
    size:A5;
    margin:0;
 }
@media screen {
 body * { visibility: visible; }
 #label-wrapper * { visibility :hidden!important}

}

 @media print{

   body * { visibility: hidden; }
  /* #print * { visibility :visible!important; z-index:9999; }*/
   #label-wrapper * { visibility :visible!important; z-index:9999; }
}

#barcode{
    position: absolute;
    top:0px;
    left:102px;

}
#no-invoice{
    position: absolute;
    top:100px;
    left:102px;

    width : 220px;
    text-align: center;
}
td{
    padding-left:4px;
    padding-right:4px;
}
.td-max{
    width:180px;
    text-overflow: ellipsis;

}
#print{
    position: absolute;
    width: 100%!important;
    left:0;
    top:75px!important;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

.table{
    border:1px solid black;
    border-collapse: collapse;
    margin-top:0;
    margin-left:485px;
}

.table-border{
    position:absolute;
    top:320px;
    width:645px;
    left:105px;
    height:68px;

    border:1px solid black;
    border-collapse: collapse;

}


.height{
    height:100px;
    border:1px solid black;
}

.switch{
    position: absolute;
    left:20px;
    top:20px;
    background-color: green;
    color: white;
    border-radius: 4px;
}


.confirm{
    position: absolute ;
    display: none;
    width:100%;
    height:100vh;
    z-index:1000;
    background-color: rgba(180,180,180,0.8);
    overflow: hidden;
}
.button{
    margin-left:40px;
    margin-top:30px;
    display: block;
    width:150px;
    height:50px;
    border-radius: 6px;
    background-color: #8ef180;
    border: 1px solid #333;
    font-weight: bold;

}
.show{
    display: block;
}
input[type="text"]
{
    font-size:28px;
    padding: 5px;
}
.bc{

    margin-left:80px;
    margin-top:100px;
    border-radius: 4px;
    border:1px solid #555;
    font-size: 16px;
}
.close-btn{
    position: absolute;
    right:5px;
    top:5px;
    text-align: center;

    font-size: 32px;
    font-weight:bold;
    color: red;

}
.close-btn:hover{
    color: rgb(220, 0, 0);
}
