@page{
size:A4;
margin:0;
}
@media screen {
body *{ visibility: visible; }
#invoice-print, #invoice-print * { visibility :hidden!important; z-index:0; }
}
@media print{
body *{ visibility: hidden; }
#invoice-print, #invoice-print * { visibility :visible!important; z-index:9999; }
}

#invoice-print{
position: absolute;
width: 100%!important;
left:0;
top:200px!important;
font-family: Arial;
font-weight: normal;
font-size: 13px;
}
.invoice-table{
width:645px;
border-collapse: collapse;
margin: auto;
border:1px solid #000;
}
.invoice-table-noborder{
float:left;
width:445px;
margin: auto;
border:none;
}

.invoice-table tr  td {
vertical-align: text-top;
padding-left: 4px;
padding-right: 4px;
}
.invoice-center{
text-align: center;
text-overflow: wrap;
}
.invoice-right{
text-align: right;
}
.col-1-1,.col-2-1{
width:75px;
}
.col-1-2,.col-2-3{
width:250px;
}
.col-1-3,.col-2-2{
width:120px;
}
.invoice-table-wrap{
width:645px;
margin:auto;
padding-bottom:20px;
}
.invoice-table-right{
width:200px;
border-collapse: collapse;
border:1px solid #000;
}
.page-is-printing{
  height:auto;
}
.page-isnot-printing{
  height:100px;
}
