@font-face {
    font-family: trebuchet;
    src: url("../fonts/Trebuchet MS.ttf");
}
@font-face {
    font-family: verdana;
    src: url("../fonts/Verdana.ttf");
}
@font-face {
    font-family: Arial;
    src: url("../fonts/Trebuchet MS.ttf");
}
