body *{font-size:13px;font-family:trebuchet;}

.content{
 /*  background-color:rgb(75, 142, 255); */

 background-color:rgb(143, 177, 227);
}
.login-form{
  padding:20px;
  border-radius:10px;
  padding-top:30px;
  background-color:rgba(5, 68, 108, 0.89);
 }
 .navbar-fix{
   width:100%;
   height:50px;
   position:fixed;
   top:0;
   left:0;
   background-color:rgba(100, 100, 108, 0.2);
 }
 .img-left-logo{
   width:50px;
   padding-top:5px;
   padding-left:10px;
   height:auto;
 }
 .main-content{
   padding:10px;
   border-radius:4px;
   background-color:white;
   border:5px solid white;
   margin-top:20px;
   height:85vh;
 }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.upload-files{
  background-color:#f9f9f9;
  padding-top:5px;
  padding-bottom:5px;
}
.fix-height-10{
  height:10px!important;
  width: 100%!important;
}

.form-group{
  width:100%;
  padding-top:5px!important;
  padding-bottom:5px!important;
  clear:both;
}
hr{
  color: #333!important;
  background-color: #333!important;
}

.separator-10,.separator-20,.separator-40,.separator-80{
  width:100%;
  clear: both;
  /* content: "\007c"; */
  content: "\a0";
}

.separator-10{
  height: 10px;
}
.separator-20{
  height: 20px;
}
.separator-40{
  height: 40px;
}
.separator-80{
  height: 80px;
}

/* pdf viewer */
#pdf-viewer, #two-pdf-viewer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:100vh;
  z-index:9999;
  background-color:rgba(0, 0, 0, 0.85);
}
.pdf-viewer-object{
  width:100%;
  height:87vh;
  background-color:rgba(0, 0, 0, 0.85);
}
/*
hack pdf object biar nggak error on viewer.js
pusing... !!
*/
#pdf-viewer-wrapper{
 height:1px;
}



.text-white,.text-white>a{
  color:#e0e0e0;
}
.text-white>a:hover{
  color:#ffffff;
}

.border-line-1{
  border:1px solid #606060;
}
.cursor-pointer{
 cursor:pointer;
}

.login-body {
background:#e9f2ff url("../img/login-bg.png");background-size:cover;}
 .login-form{margin-top:20vh;margin-left:37%;padding:30px;padding-top:40px;padding-bottom:10px;background-color:#476387;border-radius:10px;box-shadow:4px 4px 10px #333;}

 .login-form input{margin-top:10px;}
 .login-form button{margin-top:20px;}

 .login-footer{width:100%;/*background-color:rgba(108,128,69,0.30);*/
 	position:fixed;bottom:30px;font-size:13px;left:0;padding-right:20px;color:white;text-shadow:1px 1px 2px #333;}
 .login-text{cursor:pointer;margin-top:5px;color:#dadada;padding:5px;padding-left:10px;padding-right:10px;border-radius:8px;}
 .login-text:hover{/*background-color:rgba(0,0,0,0.80);color:white;*/
 	color:white;}
 .text-logo{font-size:18px;line-height:16px;color:white;text-shadow:2px 2px 8px #000;font-family:verdana;}
 .img-login-form{padding-top:20px;padding-bottom:20px;}
 .btn-login{border-radius:10px;width:70%;}

 .main-body {padding-top:80px;padding-bottom:40px;
  background-image:url("../img/back-icon.png");background-size:100% auto;}


 .container-form{background-color:rgba(255,255,255,0.90);box-shadow:1px 4px 10px #000;min-height:80vh;border-radius:10px;position:relative;padding-top:40px;padding-bottom:80px;}
 .bar-top{
 top:0;left:15px;height:30px;line-height:30px;font-family:Arial;font-weight:bold; position:absolute;
 padding-left:10px;padding-right:10px; background-color:#337ab7;border-radius:0 0 6px 6px;color:#fff;
 }

 .close-btn{color:#f7d1d1;position:absolute;font-size:22px;cursor:pointer;right:30px;top:4px;}
 .close-btn:hover{color:red;}

 .bar-bottom{position:absolute;width:100%;bottom:0;left:0;padding:10px;padding-top:10px;padding-bottom:10px;background-color:rgba(197,205,203,0.77);border-radius:0 0 10px 10px;}
 .img-logo{position:absolute;left:5px;top:5px;width:70px;}
 .user-menu{ position:absolute;font-size:24px;right:5px;top:10px;padding:10px;padding-bottom:12px;cursor:pointer;border-radius:50%;color:#eaeaea;box-shadow:0 0 10px transparent;border:1px solid transparent;}
 .user-menu:hover{background-color:rgb(23,133,0);color:white;border:1px solid #666;box-shadow:0 0 10px #aaaaaa;}
 .rounded-thumbnail{font-size:22px;padding:6px;border-radius:50%;background-color:black;color:white;border:4px solid gray;cursor:pointer;}

 .top-minus-80{margin-top:-80px;}
 .top-minus-30{margin-top:-30px;}

 .left-minus-20{margin-left:-20px;}
 .left-10{margin-left:10px;}


 .olive-static-top{position:fixed;z-index:9999;top:0;left:0;width:100%;/* background-color:#23256e;background-color:rgba(35,37,110,0.9) */;height:60px;box-shadow:0 3px 6px #000;
  background:linear-gradient(rgba(97, 139, 164, 0.87) ,rgba(45, 74, 91, 0.95));
 /* background: linear-gradient(red, yellow, green); */
 }
 .main-container{width:100%;clear:both;}
 .tooltip-text{position:absolute;padding:4px;padding-left:15px;padding-right:15px;border:2px solid #5c3f00;background-color:#fff27e;border-radius:10px;left:15px;}
 .pdf-object-wrapper{ width:100%; height:1px;}
 .user-menu-dropdown {
   position:absolute;
   right: 5px;
   top: 0;
   display: inline-block;
 }

 .user-menu-dropdown-child {
   display: none;
   background-color:rgba(0, 0, 0, 0.90);
   min-width: 120px;
   margin-top:50px;
   border-radius:6px;
   padding-top:10px;
   padding-bottom:20px;
   text-align:center;
 }
 .user-menu-dropdown-child a {
   color: white;
   padding: 10px;
   text-decoration: none;
   display: block;
   cursor:pointer;
 }
 .user-menu-dropdown-child a:hover{
   background-color:rgba(0, 94, 255, 0.5);

 }
 .user-menu-dropdown:hover .user-menu-dropdown-child {
   display: block;
 }


 /*  */
 .rounded-red{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(249, 56, 56);
 	border:4px solid  rgb(185, 3, 3);
 }
 .rounded-red:hover{
 	background-color: red;
 	border:4px solid rgb(170,0,0);


 }

 .rounded-orange{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(249, 143, 56);
 	border:4px solid  rgb(158, 68, 3);
 }
 .rounded-orange:hover{
 	background-color: rgb(255, 115, 0);
 	border:4px solid rgb(170, 61, 0);


 }

 .rounded-green{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(61, 207, 39);
 	border:4px solid  rgb(17, 98, 0);
 }
 .rounded-green:hover{
   background-color: rgb(24, 180, 0);
   border:4px solid  rgb(15, 85, 0);


 }

 .rounded-cyan{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(39, 207, 101);
 	border:4px solid  rgb(0, 98, 63);
 }
 .rounded-cyan:hover{
   background-color: rgb(0, 168, 133);
   border:4px solid  rgb(0, 85, 57);


 }
 .rounded-blue{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(7, 128, 198);
 	border:4px solid  rgb(0, 57, 98);
 }
 .rounded-blue:hover{
   background-color: rgb(0, 67, 168);
   border:4px solid  rgb(0, 16, 85);


 }
 .rounded-purple{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(152, 31, 247);
 	border:4px solid  rgb(67, 0, 103);
 }
 .rounded-purple:hover{
 	background-color: rgb(75, 3, 167);
 	border:4px solid rgb(61, 1, 92);


 }

 .rounded-pink{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(252, 62, 193);
 	border:4px solid  rgb(103, 0, 87);
 }
 .rounded-pink:hover{
 	background-color: rgb(214, 0, 199);
 	border:4px solid rgb(78, 3, 61);

 }
/* linear-gradient{
top,#618ba4 0%,406a82 100%
} */
 .rounded-yellow{
   text-shadow:1px 1px 2px #333;
 	background-color: rgb(249, 209, 67);
 	border:4px solid  rgb(186, 142, 29);
 }
 .rounded-yellow:hover{
 	background-color: rgb(238, 186, 0);
 	border:4px solid rgb(176, 100, 0);


 }
 .rounded-grey{
   text-shadow:1px 1px 2px #333;
  background-color: rgb(117, 117, 117);
  border:4px solid  rgb(65, 65, 65);
 }
 .rounded-grey:hover{
  background-color: rgb(65, 65, 65);
  border:4px solid rgb(30,30,30);


 }

 /*  */
 .text-red{
 	color: rgb(249, 56, 56);
 }
 .text-orange{
 	color: rgb(249, 143, 56);
 }
 .text-green{
 	color: rgb(25, 181, 2);
 }
 .text-cyan{
 	color: rgb(39, 207, 101);
 }
 .text-blue{
 	color: rgb(7, 128, 198);
 }
 .text-purple{
 	color: rgb(152, 31, 247);
 }
 .text-pink{
 	color: rgb(252, 62, 193);
 }
 .text-yellow{
 	color: rgb(249, 209, 67);
 }
.border-red{
  border:1px solid red;
  box-shadow:1px 1px 3px #cc0c0c;
}
.pdf-viewer-background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  z-index:9999;
  background-color:rgba(38, 38, 38, 0.87);
}
.pdf-half-object{
  float:left;
  width:50%;
  height:90vh;
}
.pdf-fullpage-object{
  width:100%;
  height:90vh;
}

@media only screen and (max-width: 600px) {
  .login-form {
    margin-left: unset;
    margin-right: unset;
  }
}

@media only screen and (min-width: 600px) {
  .login-form {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .login-form {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media only screen and (min-width: 992px) {
  .login-form {
    margin-left: 37%;
  }
}

@media only screen and (min-width: 1200px) {
.login-form {
    margin-left: 37%;
  }
}
