@page{
  size:A4;
  margin:0;
}

@media screen {
    body *{ visibility: visible; }
    #tanda-terima, #tanda-terima * { visibility :hidden!important; z-index:0; }
}
@media print{
    body *{ visibility: hidden; }
    #tanda-terima, #tanda-terima * { visibility :visible!important; z-index:9999; }
}

#tanda-terima{
  width:675px;
  position: fixed;
  left:20px;
  top: 5px!important;
  /*margin:auto;*/
  font-size: 12px;
}

.tanda-terima{
  width:675px;
  table-layout:fixed;
}
.tanda-terima > tbody > tr > td {
  /*padding-left:5px;*/
  padding:5px;
}
.tanda-terima-td-1{
  width:125px!important;
}
.tanda-terima-td-2{
  width:325px!important;
}
.tanda-terima-td-4{
  width:650px!important;
}
.small-font{
    font-size:8px!important;
    font-style: normal;
}
