@page{
    size:A5;
    margin:0;
 }
@media screen {
 body * { visibility: visible; }
 #label-wrapper * { visibility :hidden!important}

}

 @media print{

   body * { visibility: hidden; }
   #label-wrapper * { visibility :visible!important; z-index:9999; }
}

#barcode{
    position: absolute;
    top:0px;
    left:102px;
    width : 220px;
    text-align: center;

}
#no-invoice{
    position: absolute;
    top:70px;
    left:102px;
    width : 220px;
    text-align: center;
}

td{
    padding-left:4px;
    padding-right:4px;
}
.td-max{
    width:180px;
    text-overflow: ellipsis;

}
#label-wrapper{
    position: absolute;
    width: 100%!important;
    left:0;
    top:75px!important;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

.table-top{
    border:1px solid black;
    border-collapse: collapse;
    margin-top:0;
    margin-left:485px;
}

.table-bottom{
    position:absolute;
    top:320px;
    width:645px;
    left:105px;
    height:68px;

    border:1px solid black;
    border-collapse: collapse;

}


.bc{

    margin-left:80px;
    margin-top:100px;
    border-radius: 4px;
    border:1px solid #555;
    font-size: 16px;
}
