
  <!-- upload fakur pajak -->
  <h3 class="text-center">Upload File Faktur<br>
    <small>File Faktur diunduh dari <a href="http://www.pajak.go.id">www.pajak.go.id</a></small>
  </h3>
  <div class="col-lg-12 col-md-12">
    <div class="form-group">
      <a href="{{fkt_f}}" target="_blank" ng-show="fkt_f"><span class="glyphicon glyphicon-file"></span>{{fkt_f}}</a>
      <label class="pull-right">
        <span class="btn btn-primary btn-file">Unggah Faktur Pajak<input type="file" name="file_faktur" onchange="angular.element(this).scope().fakturOnchange(this)" class="form-control" accept="application/pdf" style="display: none;">
        </span>
      </label>
    </div>
  </div>
  <!-- end upload fakur pajak -->

  <div class="separator-20"></div>

  <!-- info faktur pajak -->
  <div class="col-lg-5 col-md-5">

    <div class="form-group">
      <label class="col-lg-3 col-md-3">No.Faktur</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.no" class="form-control" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3">Nama</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.to_nama" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3">NPWP</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.to_npwp" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3">Nama</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.nama" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3">NPWP</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.npwp" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 col-md-3">DPP</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model="fkt.dpp" class="form-control" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 col-md-3">PPN</label>
      <div class="col-lg-9 col-md-9">
        <input type="text" ng-model=" fkt.ppn" class="form-control" disabled>
      </div>

    </div>
    <div class="separator-20"></div>
    <div class="form-group" ng-show="error.status>0">
      <textarea ng-model="error.msg" rows="6" class="form-control border-red"
      disabled></textarea>
    </div>
  </div>
  <!-- end info faktur pajak  -->


  <!-- capture faktur pajak -->

  <div class="col-lg-7 col-md-7" id="faktur-object"></div>
  <!-- end capture faktur pajak -->
