<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0">
        <div class="portlet box red-flamingo">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa icon-energy"></i>Registrasi Daftar Pengguna Baru
                <!--<i class="fa icon-energy"></i> <marquee width="500" height="30">Registrasi Daftar Pengguna Baru</marquee>-->
            </div>
        </div>
        </div>
<div class="row">
<div class="col-lg-8 col-sm-1 col-md-1 col-md-offset-4 col-lg-offset-2 col-sm-offset-4">

<form class="form-horizontal" ng-submit="register()"  id="registrasi">
    <div class="col-md-6">
        <div class="form-group" ng-class="{'has-error': form.namaperusahaan.$dirty && form.namaperusahaan.$error.required }">
            <label for="username">Nama Perusahaan</label>
            <input type="text" placeholder="Nama Perusahaan" name="namaperusahaan" id="namaperusahaan" class="form-control" ng-model="vm.user.namaperusahaan" required />
            <span ng-show="form.namaperusahaan.$dirty && form.namaperusahaan.$error.required" class="help-block">Nama Perusahaan belum di isi </span>
        </div>

        <div class="form-group" ng-class="{'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">Nama Lengkap</label>
            <input type="text" placeholder="Nama Lengkap" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block"> Nama belum di isi</span>
        </div>

        <div class="form-group" ng-class="{'has-error': form.npwp.$dirty && form.npwp.$error.required }">
            <label for="username">NPWP </label>
            <input type="text" placeholder="NPWP" name="npwp" id="npwp" class="form-control" ng-model="vm.user.npwp" required />
            <span ng-show="form.npwp.$dirty && form.npwp.$error.required" class="help-block">NPWP belum di isi</span>
        </div>

        <div class="form-group" ng-class="{'has-error': form.address.$dirty && form.address.$error.required }">
            <label for="username">Alamat</label>
            <input type="text" placeholder="Alamat" name="address" id="address" class="form-control" ng-model="vm.user.address" required />
            <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">Alamat belum di isi</span>
        </div>

        <div class="form-group" ng-class="{'has-error': form.phone.$dirty && form.phone.$error.required }">
            <label for="username">Nomor Telepon</label>
            <input type="text" placeholder="Nomor Telepon" name="phone" id="phone" class="form-control" ng-model="vm.user.phone" required />
            <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Nomor Telepon belum di isi</span>
        </div>

       <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="username">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.user.email" required />
            <!--<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email belum di isi</span>-->
       </div>

        <div class="form-group" ng-class="{'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Register</button>
          <!--<a href="#!/auth/login" class="btn btn-link">Cancel</a>-->
        </div>
    </div>
</form>

</div>
</div>
    </div>
    </div>
    </div>