
<div class="separator-40"> </div>
<div class="clearfix"> </div>
<div class="table-responsive" ng-show="step==0">
  <table class="table table-hover">
    <thead>
        <tr>
            <td>Filter</td>
            <td>
                <div class="form-group">
                    <input type="text" ng-model="filter_text" class="form-control">
                </div>
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>No</th>
            <th>Tgl</th>
            <th>Ket</th>
            <th class="text-right"><button type="button" class="btn btn-primary" ng-click="open()">Tambah</button></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="u in libur_list | filter:filter_text track by $index"   style="cursor:pointer">
        <td>{{$index+1}}</td>
        <td>{{u.tgl}}</td>
        <td>{{u.ket}}</td>
        <td class="text-right">
            <button type="button" class="btn btn-info" ng-click="open($index)">Edit </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="col-md-6" ng-show="step==1">
    <form ng-submit="save()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="libur.tgl" placeholder="format : yyyy-mm-dd">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="libur.ket" placeholder="keterangan(opsional)">
        </div>
        <div class="form-group text-right">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
