<h2>Check</h2>
<div class="col-md-6">
    <div class="form-group">
        <label class="col-md-2">Pilih</label>
        <div class="col-md-10">
            <select class="form-control" ng-model="check_select" ng-options="s.value as s.key for s in checks"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Masukkan kunci</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="keyword" placeholder="mis: nomor PO atau nomor GR"></select>
        </div>
    </div>

</div>
