<h3 class="text-center">Pilih Kategori, PO dan GR</h3>

<!-- select kategori -->
<div class="col-lg-5 col-md-5">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Kategori</label>
        <div class="col-lg-9 col-md-9">
            <select class="form-control" ng-model="kat_id" ng-options="x.id as x.nama for x in kat_list track by x.id" ng-change="selectKat(kat_id)"></select>
        </div>
    </div>
</div>
<!-- end select kategori -->

<div class="separator-20"></div>

<!-- select PO  -->
<div class="col-lg-5 col-md-5">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Pilih Po</label>
        <div class="col-lg-9 col-md-9">
            <ui-select ng-model="select_po" on-select="selectPo(select_po.po)" limit="40" theme="bootstrap" style="min-height:29px" ng-disabled="!kat_id">
                <ui-select-match placeholder="Pilih Nomor PO / Nama Pekerjaan"> {{select_po.po}} </ui-select-match>
                <ui-select-choices repeat="c in po_list | filter: $select.search  | limitTo: 40">
                    <strong>Nomor PO : </strong><small ng-bind-html="c.po | highlight: $select.search"></small><br>
                    <strong>PO Item : </strong><small ng-bind-html="c.item | highlight: $select.search"></small><br>
                    <strong>Pekerjaan : </strong><small ng-bind-html="c.ket | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<!-- end select PO -->

<div class="separator-20"></div>

<!-- info PO -->
<div class="col-lg-5 col-md-5" ng-show="po.po">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Tgl.</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="po.tgl" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Po Item</label>
        <div class="col-lg-9 col-md-9">
            <input type="text" class="form-control" ng-model="po.item" disabled>
        </div>
    </div>
</div>

<div class="col-lg-6 col-md-6" ng-show="po.po">
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Uraian</label>
        <div class="col-lg-9 col-md-9">
            <textarea rows="2" class="form-control" ng-model="po.ket" disabled></textarea>
        </div>
    </div>
</div>
<!-- end info PO -->

<div class="separator-20"></div>

<!-- error status po fully invoice -->
<div class="col-lg-6 col-md-6" ng-show="error.status>0">
    <div class="form-group">
        <textarea ng-model="error.msg" rows="4" class="form-control border-red" disabled>
        </textarea>
    </div>
</div>

<!-- error status po fully invoice -->


<div class="separator-20"></div>

<!-- checkbox select GR  -->
<div ng-show="showgr">
    <h3 class="text-center text-muted">Pilih GR<small>* Dapat memilih lebih dari satu</small></h3>
    <div class="col-lg-12 col-md-12">
        <div class="form-group">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Tgl</td>
                        <td>Ket.</td>
                        <td>Nilai</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in gr" >
                        <td>
                            <label style="padding-right:15px">
                                <input type="checkbox" name="selectGr[]" value="{{x.gr}}" ng-model="x.selected" ng-change="totalGr()"> {{x.gr}}
                            </label>
                        </td>
                        <td>{{x.tgl}}</td>
                        <td>{{x.keterangan}}</td>
                        <td>{{x.nilai}}</td>
                        <tr>
                        </tr>
                        <td colspan="3" class="text-right">Total GR ( DPP )</td>
                        <td>{{gr_total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end checkbox select GR  -->
