<!-- viewr -->
<div class="pdf-viewer-background" ng-show="filepdf.two!==''||filepdf.single!==''">
    <div class="container">
        <div id="pdf-object"></div>
        <button type="button" class="btn btn-danger" ng-click="close()" style="position:absolute;left:50%; bottom:5px;z-index:9999">
            <strong><span class="glyphicon glyphicon-off "></span></strong>&nbsp;&nbsp;Tutup&nbsp;
        </button>
    </div>
</div>
