
    <h3 class="text-center">MIRO dan SAP</h3>
    <div class="form-group">
        <label class="col-lg-3 col-md-3">Tahun</label>
        <div class="col-lg-6 col-md-6">
            <input type="text" ng-model="sap.tahun" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-md-3">No. Parking</label>
        <div class="col-lg-6 col-md-6">
            <input type="text" ng-model="sap.parking" class="form-control">
        </div>
        <div class="col-lg-3 col-md-3 text-right">
            <button type="button" ng-click="sendParking()" class="btn btn-success" ng-show="!sap.parking">Parking</button>
        </div>
    </div>
    <!--
    sementara no ap invoice dibuka
    nantinya setelah perubahan method kirim ke sap
    harus diberi tanda readonly...
-->
<div class="form-group">
    <label class="col-lg-3 col-md-3">No. Miro</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.miro" class="form-control">
    </div>
    <div class="col-lg-3 col-md-3 text-right">
        <button type="button" ng-click="sendMiro()" class="btn btn-primary" ng-show="!sap.miro&&sap.parking">Miro</button>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3">FB60</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.fb60"  class="form-control" readonly>
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">FB65</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.fb65"  class="form-control">
    </div>
    <div class="col-lg-3 col-md-3">
        <button type="button" ng-click="sendFb65()" class="btn btn-info" ng-show="sap.parking&&sap.miro&&!sap.fb65">Denda FB65</button>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-3 col-md-3">Tanggal</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.tgl" class="form-control" date-time auto-close="true" view="date" min-view="date" max-view="year" format="dd/MM/yyyy" watch-direct-changes name="tglmiro" placeholder="Pilih Tanggal">
    </div>
</div>
<div class="form-group">
    <label class="col-lg-3 col-md-3">Catatan</label>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.catatan" class="form-control">
    </div>
</div>
<div class="separator-40"> </div>
<div class="form-group">
    <div class="col-lg-3 col-md-3">
        <button type="button" ng-click="reverseMiro()" class="btn btn-warning" ng-show="sap.parking&&sap.miro">Reverse</button>
    </div>
    <div class="col-lg-6 col-md-6">
        <input type="text" ng-model="sap.rev" class="form-control" ng-show="sap.rev">
    </div>
</div>
