<ul class="nav nav-tabs">
  <li role="presentation" ng-class="prc==0?'active':''">
    <a ng-click="toUrl('vks/list')" class="cursor-pointer">{{tabtitle}} Masuk</a>
  </li>
  <li role="presentation" ng-class="prc==3?'active':''" ng-show="step_id>4">
    <a ng-click="toUrl('vks/list?prc=3')" class="cursor-pointer" >{{tabtitle}} > 100 juta </a>
  </li>
  <li role="presentation" ng-class="prc==1?'active':''">
    <a ng-click="toUrl('vks/list?prc=1')" class="cursor-pointer">{{tabtitle}} yang Telah diproses</a>
  </li>
  <li role="presentation" ng-class="prc==2?'active':''">
    <a ng-click="toUrl('vks/list?prc=2')" class="cursor-pointer">{{tabtitle}} Tunda</a>
  </li>

  <li role="presentation" ng-class="prc==4?'active':''" ng-show="step_id==4">
    <a ng-click="toUrl('vks/print-label')" class="cursor-pointer">Label</a>
  </li>

  <li role="presentation" ng-class="prc==5?'active':''" ng-show="step_id==4">
    <a ng-click="toUrl('vks/print-receipt')" class="cursor-pointer">Tanda Terima</a>
  </li>

</ul>
