<h3 class="text-center">Cetak dan Upload File Invoice</h3>
<!-- cetak & upload button -->
<div class="col-lg-12 col-md-12">
  <div class="form-group">
    <a href="{{inv_f}}" target="_blank" ng-show="inv_f"><span class="glyphicon glyphicon-file"></span>{{inv_f}}</a>
    <label class="pull-right">
      <span class="btn btn-primary btn-file">Unggah Invoice<input type="file" name="file_invoice" onchange="angular.element(this).scope().invoiceOnchange(this)" class="form-control" accept="application/pdf" style="display: none;">
      </span>
    </label>
    <label class="pull-right">
      <button type="button" name="cetak_invoice" class="btn btn-info btn-file" ng-click="invoicePrint()">
        Cetak Invoice
      </button>&nbsp;&nbsp;
    </label>
  </div>
</div>
<!-- cetak & upload button -->
<div class="separator-20"></div>
<!-- form invoice -->
<div class="col-lg-5 col-md-5">
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.no" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Tgl.</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="tgl.inv" class="form-control" date-time
      auto-close="true" view="date" min-view="date" max-view="year"
      format="dd/MM/yyyy" watch-direct-changes placeholder="Pilih Tgl. Invoice">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Tgl. JatuhTempo</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="tgl.jatuhtempo" class="form-control" date-time
      auto-close="true" view="date" min-view="date"
      max-view="year" format="dd/MM/yyyy" watch-direct-changes
      placeholder="Pilih Tgl. Jatuh Tempo">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Jasa</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.jasa" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Material</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.material" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">DPP</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.dpp" class="form-control" readonly disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">PPN</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.ppn" class="form-control" readonly disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Total</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.total" class="form-control" readonly disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Terbilang</label>
    <div class="col-lg-9 col-md-9">
      <textarea ng-model="inv.terbilang" class="form-control" rows="5" readonly disabled></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No Po</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.po" class="form-control" readonly disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No GR</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.gr" class="form-control" readonly disabled>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Pekerjaan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.pekerjaan" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No Faktur</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.faktur" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
      <label class="col-lg-3 col-md-3">Pilih Rekening</label>
      <div class="col-lg-9 col-md-9">
        <select class="form-control" ng-model="rek_select"
          ng-click="selectRek()"
          ng-options="idx as r.rek for (idx,r) in rek">
        </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Bank</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.bank" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">No. Rekening</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.rek" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Atas Nama</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.atasnama" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Penanda Tangan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.nama" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 col-md-3">Jabatan Penanda Tangan</label>
    <div class="col-lg-9 col-md-9">
      <input type="text" ng-model="inv.jabatan" class="form-control">
    </div>
  </div>
</div>
<div class="col-lg-7 col-md-7" id="invoice-object"></div>
<div class="separator-20"></div>

<!-- catatan untuk error -->
<div class="col-lg-5 col-md-5" ng-show="error.status!=0">
    <textarea ng-model="error.msg" rows="6" class="form-control border-red"
    disabled></textarea>
</div>
<!-- end catatan untuk error -->

<!--mitra, edit dan terbaru cetak invoice-->
<link type="text/css" rel="stylesheet" href="ui/assets/css/olive-print-invoice.min.css">
<div id="invoice-print">
    <table border="1" class="invoice-table invoice-center">
        <tr>
            <td><strong>Invoice</strong></td>
        </tr>
    </table>
    <br>
    <table border="1" class="invoice-table">
        <tr>
            <td class="col-1-1">Kepada</td>
            <td class="col-1-2">PT. INDONESIA COMNETS PLUS</td>
            <td class="col-1-3">No. Invoice</td>
            <td>{{ inv.no }}</td>
        </tr>
        <tr>
            <td rowspan="5">Alamat</td>
            <td rowspan="5">
                GEDUNG PLN JALAN KH. ABDUL ROCHIM<br>
                KUNINGAN BARAT 1 RT. 009 RW. 001<br>
                KUNINGAN BARAT MAMPANG PRAPATAN<br>
                JAKARTA SELATAN DKI JAKARTA 12710
            </td>
            <td>No. Faktur Pajak</td>
            <td>{{ inv.faktur }}</td>
        </tr>
        <tr>
            <td rowspan="2">Tgl. Invoice</td>
            <td rowspan="2">{{ inv.tgl }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="2">Tg. Jatuh Tempo</td>
            <td rowspan="2">{{ inv.jatuhtempo }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="col-1-1">NPWP</td>
            <td colspan="3">{{inv.npwp}}</td>
        </tr>
    </table>
    <br>

    <table border="1" class="invoice-table">
        <tr>
            <td class="col-2-1 invoice-center"><strong>Item</strong></td>
            <td colspan="2" class="invoice-center"><strong>Uraian</strong></td>
            <td class="invoice-center"><strong>Jumlah</strong></td>
        </tr>
        <tr>
            <td rowspan="23">&nbsp;</td>
            <td rowspan="5" colspan="2">PEKERJAAN<br>{{ inv.pekerjaan }}</td>
            <td rowspan="7">&nbsp;<br>&nbsp;<br>&nbsp;<br><br>&nbsp;<br>&nbsp;</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td class="col-2-2">PO No.</td>
            <td class="col-2-3">{{ inv.po }}</td>
        </tr>
        <tr>
            <td class="col-2-2">GR No.</td>
            <td class="col-2-3">{{ inv.gr }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" rowspan="2">JASA<br>&nbsp;</td>
            <td rowspan="2" class="invoice-right">{{ inv.jasa }}</td>
        </tr>
        <tr></tr>

        <tr>
            <td colspan="2" rowspan="2">MATERIAL<br>&nbsp;</td>
            <td rowspan="2" class="invoice-right">{{ inv.material }}</td>
        </tr>
        <tr></tr>

        <tr>
            <td colspan="2" rowspan="2">SUBTOTAL (JASA + MATERIAL)<br>&nbsp;</td>
            <td rowspan="2" class="invoice-right">{{ inv.dpp }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="2" rowspan="2">PPN(10%)<br>&nbsp;</td>
            <td rowspan="2" class="invoice-right">{{ inv.ppn }}</td>
        </tr>
        <tr></tr>

        <tr> </tr>
        <tr></tr>
        <tr>
            <td colspan="2" rowspan="2">TOTAL TAGIHAN<br>&nbsp;</td>
            <td rowspan="2" class="invoice-right">{{ inv.total }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="3">TERBILANG <br><br><br></td>
            <td colspan="2" rowspan="3">{{ inv.terbilang }}</td>
        </tr>
        <tr></tr>
        <tr></tr>
    </table>
    <br>
    <div class="invoice-table-wrap">
        <table class="invoice-table-noborder">
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>- Bank</td>
                <td>{{ inv.bank }}</td>
            </tr>
            <tr>
                <td>- No. Rekening</td>
                <td>{{ inv.rek }}</td>
            </tr>
            <tr>
                <td>- Nama </td>
                <td>{{ inv.atasnama }}</td>
            </tr>

            <!-- barcode -->
            <tr>
                <td colspan="2" style="min-height:40px;">
                    <angular-barcode ng-model="barcode" bc-options="bc" bc-class="barcode" bc-type="svg"></angular-barcode>
                </td>
            </tr>
            <!-- end barcode -->
        </table>

        <table border="1" class="invoice-table-right invoice-center">
            <tr>
                <td>{{ inv.jabatan }}</td>
            </tr>
            <tr>
                <td>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
            </tr>
            <tr>
                <td>{{ inv.nama }}</td>
            </tr>
        </table>
    </div>
</div>
<!-- end table cetak -->
