<h3 class="text-center">Upload Dokumen PDF Pelengkap</h3>

<div class="row">

    <!-- Upload  -->
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <a href="{{pmh.ba_f}}" target="_blank" ng-show="ba_f!=''"><span class="glyphicon glyphicon-file"></span>{{ba_f}}</a>
            <div id="ba-object"></div>
        </div>
    </div>
    <!-- end upload  -->

    <!-- upload pogr -->
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <a href="{{pogr_f}}" target="_blank" ng-show="pogr_f!=''"><span class="glyphicon glyphicon-file"></span>{{pogr_f}}</a>
            <div id="pogr-object"></div>
        </div>
    </div>

    <!-- upload dpl -->
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <a href="{{dpl_f}}" target="_blank" ng-show="dpl_f!=''"><span class="glyphicon glyphicon-file"></span>{{dpl_f}}</a>
            <div id="dpl-object"></div>
        </div>
    </div>

  <!-- end Upload DPL -->

</div>
