
  <form class="col-md-3 col-sm-4  col-md-offset-5 col-sm-offset-4 login-form text-center" ng-submit="login()">
    <p class="text-logo text-center">ONLINE INVOICE<br>VERIFICATION SERVICE</p>
    <img src="ui/assets/img/logo.png" alt="icon+" class="img-login-form">
    <input type="text" ng-model="data.user" class="form-control" placeholder="username">
    <input type="password" ng-model="data.pwd" class="form-control" placeholder="password">
    <div class="col-md-12 col-sm-12">
      <button type="submit" class="btn btn-primary btn-login">Login</button>
    </div>
    <div class="clearfix"></div>
    <br>
    <span class="login-text" ng-click="">Lupa Password ?</span>
  </form>

<div class="login-footer text-right"> Powered by PT Indonesia Comnets Plus </div>
