<h3 class="text-center">Upload Dokumen PDF Pelengkap</h3>

<div class="row">

  <!-- Upload  -->
  <div class="col-lg-4 col-md-4">
  <div class="form-group">
    <label class="pull-right">
      <span class="btn btn-primary btn-file" ng-show="showbtn.ba">
        Unggah BA <input type="file" onchange="angular.element(this).scope().baOnchange(this)" class="form-control" accept="application/pdf" style="display: none;">
      </span>
    </label>
  </div>
  <a href="{{pmh.ba_f}}" target="_blank" ng-show="ba_f"><span class="glyphicon glyphicon-file"></span>{{ba_f}}</a>
  <div class="form-group" id="ba-object">

  </div>
</div>
  <!-- end upload  -->

  <!-- upload pogr -->
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label class="pull-right">
        <span class="btn btn-primary btn-file" ng-show="showbtn.pogr">
            Unggah PO - GR<input type="file" onchange="angular.element(this).scope().pogrOnchange(this)" class="form-control" accept="application/pdf" style="display: none;">
        </span>
      </label>
    </div>
    <a href="{{pogr_f}}" target="_blank" ng-show="pogr_f"><span class="glyphicon glyphicon-file"></span>{{pogr_f}}</a>
    <div class="form-group" id="pogr-object"> </div>
  </div>

  <!-- upload dpl -->
  <div class="col-lg-4 col-md-4">
    <div class="form-group">
      <label class="pull-right">
        <span class="btn btn-primary btn-file" ng-show="showbtn.dpl">
          Unggah DPL<input type="file" onchange="angular.element(this).scope().dplOnchange(this)" class="form-control" accept="application/pdf" style="display: none;">
        </span>
      </label>
    </div>
    <a href="{{dpl_f}}" target="_blank" ng-show="dpl_f"><span class="glyphicon glyphicon-file"></span>{{dpl_f}}</a>
    <div class="form-group" id="dpl-object"></div>
  </div>
  <!-- end Upload DPL -->
  <div class="separator-20"></div>
  <div class="col-md-6 col-lg-6">
    <textarea name="name" rows="5" class="form-control border-red" ng-model="error.msg"
    ng-show="error.status!=0"></textarea>
  </div>
</div>
