<div alt-component="navbar" data-scope="navbar"> </div>
<div class="col-lg-12 col-md-12 text-right">
  <a ng-click="toUrl('home')" class="cursor-pointer"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" ng-class="rev==0?'active':''">
    <a ng-click="gotoBtn(0)" class="cursor-pointer">Pengajuan Baru</a>
  </li>
  <li role="presentation" ng-class="rev==1?'active':''">
    <a ng-click="gotoBtn(1)" class="cursor-pointer">Pengajuan Revisi</a>
  </li>
  <li role="presentation" ng-class="rev==2?'active':''">
    <a ng-click="gotoBtn(2)" class="cursor-pointer">Pengajuan Ditolak</a>
  </li>
  <li role="presentation" ng-class="rev==3?'active':''" >
    <a ng-click="gotoBtn(3)" class="cursor-pointer">Pengajuan Selesai</a>
  </li>
</ul>

<div class="separator-20"></div>
<p class="text-muted" ng-if="rev==0 && quota.close!=0">
  Catatan : <em>{{quota.catatan}}</em>
</p>
<div class="table-responsive">

<table class="table table-responsive">
  <thead>
    <tr>
      <th>PO</th>
      <th>Tgl.Kirim</th>
      <th>Invoice</th>
      <th>Faktur</th>
      <th>DPP</th>
      <th ng-if="rev==3">PPN</th>
      <th ng-if="rev==3">PPH</th>
      <th ng-if="rev==3">Denda</th>
      <th ng-if="rev==3">Jumlah</th>
      <th ng-if="rev<3">Jadwal</th>
      <th ng-if="rev==3">Catatan</th>
      <th ng-if="rev==3">Tgl. Clearing</th>
      <th ng-if="rev<3">Tahap</th>
      <th>Status</th>
      <th class="text-right">
        <button type="button" class="btn btn-primary" ng-click="toUrl('baru')" ng-if="rev==0 && quota.close==0">Permohonan Baru</button>
      </th>

    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="x in pmh">
      <td>{{x.po_po}}</td>
      <td>{{toTgl(x.awal)}}</td>
      <td>{{x.invoice_no}}</td>
      <td>{{x.faktur_no}}</td>
      <td>{{x.invoice_dpp}}</td>
      <td ng-if="rev==3">{{x.faktur_ppn}}</td>
      <td ng-if="rev==3">{{currency(x.pph)}}</td>
      <td ng-if="rev==3">{{dendaCurrency(x.dpp,x.denda)}}</td>
      <td ng-if="rev==3">{{getTotal(x.dpp,x.ppn,x.pph,x.denda)}}</td>
      <td ng-if="rev<3">{{x.jadwal}}</td>
      <td ng-if="rev==3">{{x.catatan}}</td>
      <td ng-if="rev==3">{{toTgl(x.akhir)}}</td>
      <td>{{x.step_desk}}</td>
      <td ng-if="rev<3">{{x.status_desk}}</td>
      <td class="text-right" >
        <button type="button" class="btn btn-success" ng-click="toUrl('view',x.id)" ng-if="x.status_id<4">Lihat</button>
        <button type="button" class="btn btn-info" ng-click="toUrl('rev',x.id)" ng-if="x.status_id==4">Buat Revisi</button>
        <button type="button" class="btn btn-danger" ng-click="toUrl('edit',x.id)" ng-if="x.status_id==1 && quota.close==0">Buka Edit</button>

      </td>
    </tr>
  </tbody>
</table>
</div>
