
  <!-- upload fakur pajak -->
  <h3 class="text-center">File Faktur </h3>
  <div class="col-lg-12 col-md-12">
      <div class="form-group">
          <a href="{{fkt_f}}" target="_blank" ng-show="fkt_f"><span class="glyphicon glyphicon-file"></span>{{fkt_f}}</a>
      </div>
  </div>
  <div class="separator-20"></div>

  <!-- info faktur pajak -->
  <div class="col-lg-5 col-md-5">

      <div class="form-group">
          <label class="col-lg-3 col-md-3">No.Faktur</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.no" class="form-control" disabled>
          </div>
      </div>
      <div class="form-group">
          <label class="col-lg-3 col-md-3">Nama</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.to_nama" class="form-control" disabled>
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 col-md-3">NPWP</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.to_npwp" class="form-control" disabled>
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 col-md-3">Nama</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.nama" class="form-control" disabled>
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 col-md-3">NPWP</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.npwp" class="form-control" disabled>
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-3 col-md-3">DPP</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model="fkt.dpp" class="form-control" disabled>
          </div>
      </div>
      <div class="form-group">
          <label class="col-lg-3 col-md-3">PPN</label>
          <div class="col-lg-9 col-md-9">
              <input type="text" ng-model=" fkt.ppn" class="form-control" disabled>
          </div>
      </div>

  </div>
  <!-- end info faktur pajak  -->


  <!-- capture faktur pajak -->

  <div class="col-lg-7 col-md-7" id="faktur-object"> </div>
  <!-- end capture faktur pajak -->
