<div alt-component="navbar" data-scope="navbar"></div>
<div alt-component="tabs" data-scope="tabs"></div>


<div class="separator-40"></div>
<div class="form-group">
    <label class="col-md-1">Vendor</label>
    <div class="col-md-5">
        <select class="form-control" ng-model="selected_ccid" ng-click="selectVendor(selected_ccid)" ng-options="v.ccid as v.faktur_nama for v in vendors"> </select>
    </div>
</div>

<div ng-show="pmh.length>0">

    <div class="form-group">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>Po</td>
                    <td>Invoice</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label style="padding-right:15px">
                            <input type="checkbox" ng-model="check_all" ng-click="checkUncheckAll()">&nbsp;&nbsp; Semua
                        </label>
                    </td>
                    <td></td>
                </tr>

                <tr ng-repeat="x in pmh">
                    <td>
                        <label style="padding-right:15px">
                            <input type="checkbox" ng-model="x.selected">&nbsp;&nbsp; {{x.po_po}}
                        </label>
                    </td>
                    <td>{{x.invoice_no}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>Catatan</label>
            <textarea ng-model="cetak.catatan" class="form-control" rows="5"></textarea>
        </div>
    </div>


    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="incl_inv" ng-value="true"> Cetak Invoice
            </label>
        </div>
        <div class="form-group">
            <label>Yang Menyerahkan</label>
            <input type="text" ng-model="cetak.from" class="form-control">
        </div>
        <div class="form-group">
            <label>Yang Menerima</label>
            <input type="text" ng-model="cetak.to" class="form-control">
        </div>
    
    </div>
    <div class="clearfix"></div>
    <div class="bar-bottom top-minus-30 text-right">
        <button type="button" class="btn btn-success" ng-click="print()">Cetak Tanda Terima</button>
    </div>

</div>




<!-- print baru fixed-->
<link rel="stylesheet" href="ui/assets/css/print-receipt.css">
<div id="tanda-terima">

  <address class="small-font">
    <strong> PT. INDONESIA COMNETS PLUS </strong><br>
    <small>{{cetak.inv}}
      Kantor Pusat, Kawasan PLN Cawang, Jl. Mayjen Sutoyo No. 1<br>
      Cililitan - Jakarta Timur (13640) <br>
      Phone : 021-5253019, Fax : 021-5253659
    </small>
  </address>

  <p class="text-center"><strong>Tanda Terima</strong> </p>
  <table border="1" class="tanda-terima">
    <tr>
      <td class="tanda-terima-td-1">Tgl. Terima</td>
      <td colspan="3">{{cetak.tgl}}</td>
    </tr>
    <tr>
      <td class="tanda-terima-td-1">Kepada</td>
      <td colspan="3">{{cetak.vendor}}</td>
    </tr>
    <tr>
      <td>No. PO</td>
      <td colspan="3">{{cetak.po}}</td>
    </tr>

    <tr ng-if="incl_inv==1">
      <td>No. Invoice</td>
      <td colspan="3">{{cetak.inv}}</td>
    </tr>
    <tr>
      <td colspan="4" class="tanda-terima-td-4">
        catatan : <br>
        {{cetak.catatan}}
      </td>
    </tr>
    <tr>
      <td colspan="2" class="tanda-terima-td-2 text-center" style="width:325px">Yang Menyerahkan<br><br><br><br>{{cetak.from}}</td>
      <td colspan="2"  class="tanda-terima-td-2 text-center">Jakarta, {{terima.tgl}} <br>Yang Menerima<br><br><br>{{cetak.to}}</td>
    </tr>
  </table>
  <p class="text-center">
    Invoice Service Center : 021-5227940 , Office Hour : 09:00-16:00 WIB
  </p>
</div>
<!-- end -->
